@model PortalAcademico.Models.Curso

@{
    ViewData["Title"] = "Crear Nuevo Curso";
}

<h1>@ViewData["Title"]</h1>
<h4>Curso</h4>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group mb-3">
                <label asp-for="Codigo" class="control-label"></label>
                <input asp-for="Codigo" class="form-control" />
                <span asp-validation-for="Codigo" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Creditos" class="control-label"></label>
                <input asp-for="Creditos" class="form-control" type="number" />
                <span asp-validation-for="Creditos" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="CupoMaximo" class="control-label">Cupo Máximo</label>
                <input asp-for="CupoMaximo" class="form-control" type="number" />
                <span asp-validation-for="CupoMaximo" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="HorarioInicio" class="control-label">Hora de Inicio</label>
                <input asp-for="HorarioInicio" class="form-control" type="time" />
                <span asp-validation-for="HorarioInicio" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="HorarioFin" class="control-label">Hora de Fin</label>
                <input asp-for="HorarioFin" class="form-control" type="time" />
                <span asp-validation-for="HorarioFin" class="text-danger"></span>
            </div>
             <div class="form-group form-check mb-3">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Activo" /> @Html.DisplayNameFor(model => model.Activo)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
            </div>
        </form>
    </div>
</div>